button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: start;
}

button {
  position: relative;
  width: 150px;
  height: 33px;
  border: 1px solid $white;
  font-size: 14px;
  border-radius: 1px;
  padding: 0 9px;
  transition: all .25s ease;

  a, a:hover, a:visited, a:active {
      color: $white;
      text-decoration: none;
  }

  a::after{
    position: absolute;
    right: 10px;
    content: url('../images/icons/arrows/arrow.svg');
    fill: $orange;
  }

  @include responsive($tablet-pt) {
    width: 100%;
    height: 50px;
  }
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px $white;
}

button.black {
  border: 1px solid $black;  

  a {
    color: $black;    
  }
  
  a::after {
    content: url('../images/icons/arrows/arrow--black.svg');      
  }
  
  &:hover {
    box-shadow : 2px 2px $black;      
  }
}

button.black:hover {
  box-shadow: 3px 3px $black;
}



.actuality button {
  width: 100px;
  position: absolute;
  top: 10px;
  right: 0;
  border: 1px solid $grey;

  a {
    color: $grey;
  }
}

.actuality button:hover {
  box-shadow: 3px 3px $grey;
}



.left-arrow {
  position: absolute;
  margin-top: 175px;
  left: 0;
  z-index: 10;
}

.right-arrow {
  position: absolute;
  margin-top: 175px;
  right: 0;
  z-index: 10;
}

// Bouton Hamburger
.hamburger {
  width: 35px;
  height: 25px;
  z-index: 1000;
  position: absolute;
}

.button__hamburger{
  display: block;
  width: 35px;
  height: 4px;
  background-color: $white;  

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    top: 10px;
    background-color: $white;
    transition: transform 1s $primary-animation;
    
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 4px;
    top: 20px;
    background-color: $white;
    transition: transform 1s $primary-animation;
    
  }
}

.button__hamburger--close {
  background-color: transparent;
  
  &::after {  
    background-color: $blue;    
    transform: rotate(-50deg);
  }

  &::before {    
    background-color: $blue;    
    transform: rotate(50deg);
    margin-top: -10px;    
  }
}

// Bouton dans le header après le pseudo
.button__add {
  position: relative;
  display: inline-block;
  height: 11px;
  width: 11px;
  margin-left: 5px;
  line-height: 11px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
}

.button__add--green {
  color: $blue;
  background-color: $green;
}

.button__showall {
  a::before{
    content: url('../images/icons/arrows/arrow--bottom.svg'); 
    margin-right: 5px;
  }

  a::after{
    content: '';
  }
}