input {
    height: 27px;
    width: 215px;
    margin-right: 26px;
    border: 1px solid #a6a6a6;
    box-shadow: 1px 1px #d9d9d9;
    background: url("../images/search.png") no-repeat;
    background-position: 10px 5px;
    padding-left: 40px;
    font-size: 14px;
    color: $grey;
    font-stretch: extra-condensed;

    @include responsive($phone){
        width: 205px;     
    }
}




*:-moz-placeholder {
    color: #555555;            
}

*:-ms-input-placeholder {
    color: #555555;            
}

*::-webkit-input-placeholder {
    color: #555555;            
}