label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $grey;

  select {
    background: transparent;
    background: url(../images/fleches.png) right no-repeat;
    appearance: none;    
    border: 1px solid grey;
    border-radius: 1px;
    height: 32px;
    width: 115px;
    padding: 0 10px;
    background-origin: content-box;
    margin-left: 8px;
    color: $grey;
    font-size: 14px;
    box-shadow: 1px 1px #d9d9d9;
  }
}