.actuality{
    .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 0;
  }

  .actuality__title{
    font-size: 18px;
    color: $grey;
  }
}


.actuality__historic {
  width: 440px;

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 2px 3px;

    li {
      height: 101px;
      list-style-type: none;
    }
  }

  li:not(:last-child):after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d6d6d6;
    margin-top: 20px;
  }


  @include responsive($phone){
    li {
      padding-top: 20px;
    }

    button {
      display: none;
    }       
  }
}

.historic__article {
  display: flex;
  position: relative;

  header {
    margin-left: 19px;
    line-height: 15px;
  }

  h2 {
    font-size: 14px;
    color: $grey;
    font-weight: bold;
  }

  p {
    font-size: 11px;
    margin-bottom: 8px;
  }

  span {
    font-size: 10px;
  }

  strong, time {
    font-weight: bold;
  }
}

figure {
  display: flex;
  flex-direction: row;
}

figure img {
  width: 49px;
  height: 49px;
  border-radius: 100%;
  object-fit: cover;
}

figcaption {
  margin-left: -13px;
  width: 49px;
  height: 49px;
  border-radius: 100%;
  border: 1px solid $black;
  background-color: $black;
  position: relative;
}

figcaption img {
  height: auto;
  width: 25px;
  border-radius: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

.actuality__training {
  width: 440px;

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 2px 3px;
  }

  .training__article {
    display: flex;
    color: $grey;
    position: relative;
    min-height: 50px;

    header {
      padding: 0 20px;
      position: relative;
      margin-top: -10px;

      span {
        font-size: 11px;
      }

      h3 {
        font-size: 14px;
        font-weight: bolder;
        margin-top: -5px;
      }
    }
  }

  .training__tip {
    position: absolute;
    font-size: 11px;
    top: 37px;
    left: 67px;
  }

  ul li {
    height: 101px;
    list-style-type: none;
  }

  li:not(:last-child)::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #d6d6d6;
    margin-top: 23px;
  }

   img {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    object-fit: cover;
     border: 1px solid #d6d6d6;
  }

}

.historic__article--alert {
  .historic__image {
    img {
      border: 1px solid $orange;      
    }

    figcaption {
      background-image: url("../images/icons/states/info.png");
      background-repeat:no-repeat;
      background-position: center center;
      background-color: $orange;  
      border-color: $orange;
    }
  }

  .historic__statut {
    color: $orange;
  }

  button {
    border-color: $orange !important;

    a::after{
      content: url('../images/icons/arrows/arrow--info.svg');      
    }

    &:hover {
      box-shadow : 2px 2px $orange !important;      
    }
  }
}

.historic__article--progress {
  .historic__image {
    img {
      border: 1px solid #a6a6a6;      
    }
    
    figcaption {
      background-image: url("../images/icons/states/delivery.png");
      background-repeat:no-repeat;
      background-position: center center;
      background-color: #d6d6d6;
      border-color: #a6a6a6;
    }
  }

  .historic__statut {
    color: #a6a6a6;
  }

  button {
    border-color: #a6a6a6 !important;


    a::after{
      content: url('../images/icons/arrows/arrow--delivery.svg');      
    }

    &:hover {
      box-shadow : 2px 2px #a6a6a6 !important;      
    }
  }
}

.historic__article--success {
  .historic__image {
    img {
      border: 1px solid $green;      
    }

    figcaption {
      background-image: url("../images/icons/states/tick.png");
      background-repeat:no-repeat;
      background-position: center center;
      background-color: $green;
      border-color: $green;
    }
  }

  .historic__statut {
    color: $green;
  }

  button {
    border-color: $green !important;


    a::after{
      content: url('../images/icons/arrows/arrow--success.svg');      
    }

    &:hover {
      box-shadow : 2px 2px $green !important;      
    }
  }
}