.allitems {
  margin-top: 75px;
}

.allitems__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;

      .allitems__item {
        position: relative;
        display: block;        
        width: 180px;
        height: 220px;
        margin-bottom: 35px;
        background-color: #efefef;
        list-style-type: none;
        color: $grey;
        box-sizing: border-box;
        border-bottom: 5px solid #d6d6d6;

        img {
          background-color: #e6e6e6;
          padding: 10px 18px 0 18px;
          width: 144px;
          height: 88px;

          @include responsive($phone){
            width: 208px;
            height: auto;
          }
        }

        h1 {
          font-size: 16px;
          font-weight: bold;
          padding: 15px 25px 7px 15px;
          line-height: 18px;
        }

        p {
          font-size: 11px;
          margin-left: 15px;
        }

        @include responsive($phone){
          height: 270px;
          width: 100%;
  
          h1 {
            font-size: 17px;
          }
  
          p {
            font-size: 14px;
          }
  
          .bseller__stock {
            font-size: 12px;
          }
        }
      }

      @include responsive($tablet-ls){
        justify-content: space-evenly;        
      }
    }

.allitems__header  {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .allitems__title {
    font-size: 24px;
    color: $grey;
  }

  .allitems_filter{
       display: flex;
   }
}

.allitems__stock {
  position: absolute;
  right: 8px;
  bottom: 2px;
  font-size: 11px;
  font-weight: bold;
  color: #d6d6d6;
}

.allitems_filter {
  display: flex;
  flex-wrap: wrap;
  color: #a6a6a6;

  select {
    border-color: #a6a6a6;
  }
}

.allitems .urgent span::after {
  content: '';
  position: absolute;
  display: block;
  left: -116px;
  width: 180px;
  height: 5px;
  background-color: $orange;
}

.allitems__footer {
  display: block;
  margin-bottom: 100px;

  button {
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    width: 170px;
    background-color: $white;
    display: block;
    margin: 0 auto;

    a {
      color: $grey !important;
    }

    &:hover {
      box-shadow: 3px 3px #d6d6d6;
    }
  }
}

.allitems__footer:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d6d6d6;
    margin-top: -18px;
}

.allitems__item--urgent {
    border-bottom: 5px solid $orange !important;

  .allitems__stock {
    color: $orange; 
  }
}