.bseller {
  .bseller__header {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .bseller__title {
      font-size: 24px;
      color: $grey;
    }
  }

  .bseller__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    .bseller__item {
      display: block;      
      position: relative;
      width: 180px;
      height: 220px;
      margin-bottom: 28px;
      background-color: #efefef;
      list-style-type: none;
      color: $grey;
      box-sizing: border-box;
      border-bottom: 5px solid #d6d6d6;
      transition: transform 1s $primary-animation;

      img {
        background-color: #e6e6e6;
        padding: 10px 18px 7px 18px;
        width: 144px;
        height: 88px;

        @include responsive($phone){
          width: 208px;
          height: auto;
        }
      }

      h1 {
        font-size: 16px;
        font-weight: bold;
        padding: 6px 25px 7px 15px;
        line-height: 18px;
      }

      .bs-item__desc {
        font-size: 11px;
        margin-left: 15px;
      }

      .bseller__stock {
        position: absolute;
        right: 8px;
        bottom: 2px;
        font-size: 11px;
        font-weight: bold;
        color: #d6d6d6;
      }

      &:hover {
        transform: translateY(-3px);
      }

      @include responsive($phone){
        height: 270px;
        width: 100%;

        h1 {
          font-size: 17px;
        }

        p {
          font-size: 14px;
        }

        .bseller__stock {
          font-size: 12px;
        }
      }
    }

    @include responsive($tablet-ls){
      justify-content: space-evenly;        
    }
  }
}

// Si on a le modifier urgent
.bseller__item--urgent {
  border-bottom-color: $orange !important;

  .bseller__stock {
    color: $orange !important;
  }
}