.featured {
  background-color: $blue;
  color: $white;
  background-image: url('../images/featured.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;

  .wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
      margin-top: 45px;

      h1 {
        font-size: 14px;
        font-weight: bold;

        @include responsive($tablet-pt) {
          font-size: 16px;
        }
      }

      p {
        margin-top: 8px;
        line-height: 15px;
        font-size: 11px;

        @include responsive($tablet-pt) {
          font-size: 14px;
        }
      }
    }
    
    &__footer {
      margin-bottom: 50px;
    }
    
    @include responsive($tablet-pt) {
      background-size: 100vh;
    }
}