.footer {
  background-color: $blue;

  .wrapper {
    display: flex;
    align-content: space-between;

    .footer_navigation{
      margin-top: 40px;
      margin-bottom: 50px;
      width: 230px;
    }

    nav > span {
      color: $white;
    }

    ul {
      margin-top: 30px;
    }
    ul li {
      font-size: 14px;
      list-style: none;
    }

    @include responsive($tablet-pt){
      flex-wrap: wrap;
    }
  }

  a, a:visited, a:hover, a:active {
    color: $white;
    text-decoration: none;
    opacity: .6;
  }
}