// Paramètres globaux de mon menu
.header {
  background-color: $blue;
  color: $white;
  font-size: 15px;
  font-weight: 100;
  width: 100%;
  z-index: 100;

  .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Liens dans le menu (ul / li)
.header__link {
  display: inline-block;    

  @include responsive($tablet-pt) {
    display: none;
  }
}

.header__navigation .header__link {
  margin-right: 24px;    
}

.header__login .header__link {
  margin-left: 12px;
}

.header__link a {
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 34px;    
    border-bottom: 6px solid $white;    
    transform: scaleX(0);  
    transition: transform .8s $primary-animation;    
  }
  
  &:hover::after {
    transform: scaleX(1);
  }
}

.header__link--selected a::after {
  transform: scaleX(1);
}

// Menu Responsive
.header__mobile {
  display: none;
  overflow-x: hidden;

  .mobile__links {
    visibility: hidden;    
    background-color: $white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    border: 10px solid $blue;
    padding-top: 100px;
    transform: scaleY(0);    
    transform: translateY(-100%); 
    transition: transform 1s ease;  
    
    ul {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      text-align: center;
      margin-bottom: 50px;

      li {
        margin-bottom: 20px;

        a {
          color: $blue;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }

    &--open {
      visibility: visible;
      transform: scaleY(1);
      transform: translateY(0%);        
      transform: translateX(0)
    }
  }

  @include responsive($tablet-pt) {
    display: flex;
    position: relative;
    right: 0;
  }
}

.navigation__mobile {
  display: flex;
}

.header__title {
  margin-left: 60px;
  font-weight: bold;
  font-size: 17px;
}

.header::after{
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: $white;
}