.newitems {
    margin-top: 15px;
    height: 470px;
    background-color: $green;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    color: $black;

    @include responsive($tablet-ls){
        display: none;
    }
    @include responsive($tablet-pt){
        display: none;
    }
}

.newitems::before {
    content: '';
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 43px solid $white;
    border-right : 100vw solid transparent;
}

.newitems .wrapper {
    position: relative;
}

.newitems__content {
    padding-top: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .newitems__image {
        height: 350px;
        width: auto;
    }

    span {
        font-size: 14px;
        font-weight: bold;
        padding-left: 18px;
        display: block;
        height: 100%;
        margin: 0 auto;
    }

    article {
        display: flex;        
        position: absolute;
        left: 0px;
        right: 0px;
        opacity: 0.001;
        justify-content: space-between;
        padding: 45px 0 38px 0;
        width: 747px;
        margin: 20px auto;
    }

    article.slide__item--active{
         opacity: 1;
     }

    &__text {
        margin-left: 50px;

        h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            line-height: 17px;
            margin: 14px 0 27px 0;
        }
    }

    footer {
        left: 0;
        top: 320px;
        right: 0;
        position: absolute;
    }
}

/* Slider */

.newitems__slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newitems__slider li {
    list-style-type: none;
}

.newitems__slider li img {
    border-radius: 100%;
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right: 6px;
    border: 1px solid $white;
}

.newitems__slider--active img{
    width: 50px !important;
    height: 50px !important;
    border: 1px solid $grey !important;
}