.stats {
  background-color: $orange;
  height: 395px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  color: $white;
  margin-top: 20px;

  @include responsive($tablet-ls){
    display: none;
  }
  @include responsive($tablet-pt){
      display: none;
  }
}

.stats::after {
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 15px 100vw 50px 0px;
  border-color: transparent $orange transparent transparent;
}

.stats .wrapper {
  position: relative;
}

.stats .left-arrow, .stats .right-arrow {
  margin-top: 190px;
}

.stats header{
   display: flex;
   justify-content: space-between;
   padding: 43px 50px 40px 50px;


  span {
    font-size: 14px;
    font-weight: bold;
  }
 }

.courbe {
  width: 824px;
  display: block;
  margin: 0 auto;
  height: auto;
}

.stats_filter {
  display: flex;
  margin-top: -4px;


  select {
    width: 120px;
    height: 33px;
    color: $white;
    border-color: $white;
  }

  label:first-child {
    margin-right: 30px;
  }

  label {
    color: $white;
  }
}
