html {
  font-family: $primary-font;
}

.wrapper {
  width: 924px;
  margin: 0 auto;

  @include responsive($desktop) {
    width: 800px;
  }

  @include responsive($tablet-ls) {
    width: 625px;
  }

  @include responsive($tablet-pt) {
    width: 415px;
  }

  @include responsive($phone) {
    width: 300px;
  }

  @include responsive($phone-xs) {
    width: 244px;
  }
}

.hide {
  display: none !important;
}

.overflow--hiden {
  overflow: hidden;
}