$phone-xs: '(max-width: 480px)';
$phone: '(max-width: 480px)';
$tablet-pt: '(max-width: 767px)';
$tablet-ls: '(min-width: 768px) and (max-width: 979px)';
$desktop: '(max-width: 1024px)';


@mixin responsive($media) {
    @media only screen and #{$media} {
        @content;
    }
}